<ul>
  <li><%= nav_link 'Home', root_path %></li>
  <li><%= nav_link_doc :quick_start %></li>
  <li>
    <span class="is-active">Guides</span>
    <ul>
      <li><%= nav_link_doc :anatomy %></li>
      <li><%= nav_link_doc :bin_scripts_build_and_deploy %></li>
      <li><%= nav_link_doc :environment_and_configuration %></li>
      <li><%= nav_link_doc :asset_host_and_precompiling %></li>
      <li><%= nav_link_doc :custom_domain_names %></li>
      <li><%= nav_link_doc :database_options %></li>
      <li><%= nav_link_doc :activejob_and_lambda %></li>
      <li><%= nav_link_doc :logging_metrics_observability %></li>
      <!-- <li><%= nav_link_doc :api_gateway_and_cloudwatch_logs %></li> -->
      <!-- <li><%= nav_link_doc :installing_aws_sam %></li> -->
    </ul>
  </li>
</ul>
