<ul>
  <li><%= nav_link 'Home', root_path %></li>
  <li><%= nav_link_doc :quick_start %></li>
  <li>
    <span class="is-active">Guides</span>
    <ul>
      <li><%= nav_link_doc :installing_aws_sam %></li>
      <li><%= nav_link_doc :install_lamby %></li>
      <li><%= nav_link_doc :bin_scripts_build_and_deploy %></li>
      <li><%= nav_link_doc :environment_and_configuration %></li>
      <li><%= nav_link_doc :asset_host_and_precompiling %></li>
      <li><%= nav_link_doc :custom_domain_name_and_cloudfront %></li>
      <li><%= nav_link_doc :database_connections %></li>
      <li><%= nav_link_doc :api_gateway_and_cloudwatch_logs %></li>


      <li><%= nav_link_doc :how_does_lamby_work %></li>

    </ul>
  </li>
</ul>
