
<div class="lb-Welcome">

  <div class="lb-Welcome-hero">
    <%= image_tag 'lamby-rails.png', class: 'lb-Welcome-image' %>
    <h1 class="lb-Welcome-header mui--text-display3">
      <strong>Simple Rails & AWS Lambda Integration</strong>
    </h1>


    <div class="lb-Welcome-code">
      <%= code_highlight do %>
        def handler(event:, context:)
          Lamby.handler $app, event, context
        end
      <% end %>
    </div>

    <div class="lb-Welcome-points lb-Welcome-points--first">
      <p class="lb-Welcome-point mui--text-title mui-panel">
        <strong><span>🌱</span>Compatible with New or Old Rack Applications</strong>
      </p>
      <p class="lb-Welcome-point mui--text-title mui-panel">
        <strong><span>🔩</span>Maintain your Project's Structure & Local Dev</strong>
      </p>
      <p class="lb-Welcome-point mui--text-title mui-panel">
        <strong><span>🚀</span>API Gateway HTTP API or REST</strong>
      </p>
    </div>

    <div class="lb-Welcome-ctas">
      <%= link_to 'Full Docs', doc_lpath(:installing_aws_sam), class: 'lb-Button mui-btn mui-btn--large mui-btn--raised' %>
      <%= link_to 'Quick Start', doc_lpath(:quick_start), class: 'lb-Button mui-btn mui-btn--large mui-btn--danger mui-btn--raised' %>
    </div>
  </div>

  <div class="lb-Welcome-content">

    <div class="lb-Welcome-points lb-Welcome-points--second">
      <p class="lb-Welcome-point mui--text-title mui-panel">
        <strong><span>🌱</span>Compatible with New <br>or Old Rack Applications</strong>
      </p>
      <p class="lb-Welcome-point mui--text-title mui-panel">
        <strong><span>🔩</span>Maintain your Project's <br>Structure & Local Dev</strong>
      </p>
      <p class="lb-Welcome-point mui--text-title mui-panel">
        <strong><span>🚀</span>API Gateway HTTP <br>API or REST</strong>
      </p>
    </div>

    <div class="lb-Welcome-actions">
      <%= link_to 'Full Docs', doc_lpath(:installing_aws_sam), class: 'lb-Button lb-Button-full mui-btn mui-btn--large mui-btn--raised' %>
      <%= link_to 'Quick Start', doc_lpath(:quick_start), class: 'lb-Button lb-Button-full mui-btn mui-btn--large mui-btn--danger mui-btn--raised' %>
    </div>

  </div>

</div>
