<!DOCTYPE html>
<html class="<%= theme_class %>">
  <head>
    <title>Lamby: Simple Rails & AWS Lambda Integration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Lamby: Simple Rails & AWS Lambda Integration" />
    <meta property="og:image" content="<%= image_url 'lamby-arch-hero.png' %>" />
    <%= csrf_meta_tags unless response.cache_control[:public] %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= theme_class %>">
    <article class="lb-Main <%= main_class %>">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid lb-Page--<%= controller_name %>">
        <%= yield %>
      </div>
    </article>
    <nav class="lb-Sidedrawer mui--no-user-select">
      <header class="lb-Sidedrawer-brand mui--appbar-line-height">
        <span class="mui--text-title"><%= link_to 'Lamby', root_path %></er></span>
      </header>
      <%= render partial: 'navigation' %>
    </nav>
    <header class="lb-Header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a class="lb-Header-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block" data-js="show-sidedrawer">
            ☰ <span class="mui--text-title" style="margin-left: 0.5rem;">Lamby</span>
          </a>
          <a class="lb-Header-toggle mui--hidden-xs mui--hidden-sm" data-js="toggle-sidedrawer">
            ☰
          </a>
          <span class="mui--text-title mui--visible-xs-inline-block"></span>
          <span class="mui--appbar-height" style="float:right;">
            <span class="lb-Header-new">
              <span class="lb-Header-newEmoji">🆕</span>
              <span class="lb-Header-newText">
                <a href="https://aws.amazon.com/blogs/aws/new-for-aws-lambda-container-image-support/">
                  <span class="lb-Header-newText-lambda">Lambda</span> Containers
                </a>
              </span>
              &nbsp;
              &nbsp;
            </span>
            <a href="https://github.com/customink/lamby" class="lb-Header-gitHubLink" title="Lamby on GitHub">
              <%= image_tag 'github-white.png', class: 'lb-Header-gitHubImage' %>
            </a>
          </span>
        </div>
      </div>
    </header>
    <footer class="lb-Footer">
      <div class="lb-Footer-madewith">
        Made with ❤️ by <%= link_to 'Custom Ink | Tech ', 'https://technology.customink.com' %>
      </div>
      <br>
      <div class="lb-Footer-powered">
        Powered by Lamby <%= link_to '[source]', 'https://github.com/customink/lamby_site' %>
      </div>
      <div class="lb-Footer-image">
        <%= image_tag 'lamby-small.png' %>
      </div>
    </footer>
  </body>
</html>
