<!DOCTYPE html>
<html>
  <head>
    <title>MyAwesomeLambda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <h3>Navigation</h3>
    <ul>
      <li><%= link_to 'Index Page', smokes_path %></li>
      <li>
        Form, Redirect, Session/Cookies:
        <% if action_name == 'cache' %>
          Time: <%= Time.current.to_i %>
        <% elsif logged_in? %>
          <%= button_to 'Logout', logout_smokes_path, method: 'delete' %>
        <% else %>
          <%= form_tag login_smokes_path do %>
            <%= text_field_tag :password, 'password' %>
            <%= submit_tag 'Login' %>
          <% end %>
        <% end %>
      </li>
      <li><%= link_to 'Exception Page', exception_smokes_path %></li>
      <li><%= link_to 'Cache Page', cache_smokes_path %></li>
      <li>
        Images:
        <ul>
          <li><%= link_to '135', image_smokes_path(size: '135') %></li>
          <li><%= link_to '802', image_smokes_path(size: '802') %></li>
          <li><%= link_to '2035', image_smokes_path(size: '2035') %></li>
          <li><%= link_to '2987', image_smokes_path(size: '2987') %></li>
          <li><%= link_to '4965', image_smokes_path(size: '4965') %></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
